@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
  font-family: "Audiowide", cursive;
  margin: 0;
  color: hsl(0, 0%, 10%);
  background: linear-gradient(45deg, hsl(340, 100%, 75%), hsl(240, 100%, 70%));
  background-size: cover;
}

h1 {
  font-size: 64px;
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
}

p {
  text-align: center;
}

p + p {
  margin-bottom: 64px;
}

label, input {
  display: block;
}

label {
  text-transform: uppercase;
  margin-bottom: 6px;
  text-align: center;
}

input {
  margin-bottom: 1em;
  width: 25em;
  padding: 16px 12px;
  margin-left: auto;
  margin-right: auto;
}

button {
  border: none;
  background-color: hsl(240, 80%, 50%);
  color: #fff;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 20px;
  box-shadow: 1px 1px 3px hsl(0, 0%, 50%);
  margin: 0 auto;
  display: block;
  font-family: "Audiowide", cursive;
}

.activities {
  text-align: center;
  margin-top: 60px;
}

h2 {
  margin-bottom: 6px;
}
